/*=================================================================
                                FONTS
=================================================================*/

/*==  Lato  ==*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */

/*=================================================================
                            VARIABLES
=================================================================*/

:root{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #004A6B ;

    --first-color: #00678D ;
    --second-color: #00587C ;
    --third-color: #004A6B;
    --first-color-transparent: #00678D77;
    --second-color-transparent: #00587Cdd ;
    --third-color-transparent: #004A6Be7 ;

    
}

/*=================================================================
                            SCROLL BAR
=================================================================*/

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--second-typing-color);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--first-color);
    height: 10px;
  }

  

/*=================================================================
                            GENERAL
=================================================================*/

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    box-sizing: border-box;
    font-family: "lato";
    overflow-x: hidden;
}

ul, li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    padding: 15px 0;
}

img{
    width: auto;
    max-width: 100%;
}


/*=================================================================
                            PRELOAD
=================================================================*/

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    overflow: hidden;
  }
  
  .loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--second-color);
    -webkit-animation: spin 1.7s linear infinite;
            animation: spin 1.7s linear infinite;
    z-index: 11;
  }
  .loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--first-color);
    -webkit-animation: spin-reverse .6s linear infinite;
            animation: spin-reverse .6s linear infinite;
  }
  .loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 10px solid transparent;
    border-top-color: var(--second-color);
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin-reverse {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: var(--second-typing-color);
    z-index: 10;
  }
  
  .loader-wrapper .loader-section.section-left {
    left: 0;
  }
  
  .loader-wrapper .loader-section.section-right {
    right: 0;
  }
  
  .loaded .loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded .loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded .loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .loaded .loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }

/*=================================================================
                            BACK TO TOP
=================================================================*/

#myBtn {
    z-index: 11;
    font-size: 25px;
    display: none; 
    position: fixed; 
    bottom: 30px; 
    right: 30px;
    cursor: pointer;
  }

#myBtn i{
    color: var(--third-color);
    border-radius: 50%;
    background-color: var(--first-typing-color);
    padding: 13px 15px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.801);
    transition: all .5s ease-in-out;

}

#myBtn:hover i{
    color: var(--first-typing-color);
    background-color: var(--third-color);
}

/*=================================================================
                            MENU
=================================================================*/

.menu{
    background: linear-gradient(to top, rgb(32, 32, 32), rgba(10, 10, 10, 0.8)), url(../images/menu-back.jpg),center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 10%;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    left: 0;
    top: 0;
    z-index: 11;
    transform: translateX(-100%);
    transition: transform 1s ease-in-out;
    box-sizing: border-box;
}

.expanded{
    transform: translateX(0%) !important;
}


.fa-times{
    float: right;
    font-size: 40px !important;
    text-shadow: 1px 1px 5px black;
    color: white;
    cursor: pointer;
}

.menu-list{
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.menu-link{
    padding: 20px;
    font-size: 36px;
    text-transform: uppercase;
    color: var(--first-typing-color);
}

.menu-item{
    position: relative;
}

.menu-item::after{
    position: absolute;
    bottom: -20px;
    content: "";
    display: block;
    width: 80%;
    height: 3px;
    background-color: var(--second-color);
}

  
/*=================================================================
                            NAVBAR
=================================================================*/

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 0;
    min-width: 100%;
    z-index: 1;

}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.brand-link img{
    pointer-events: none;
    min-width: 285px;
    z-index: 3;
}

.nav-item{
    margin-left: 5px;
}

.nav-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.nav-link{
    color: var(--first-typing-color);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    padding: 15px 25px;
    transition: all .5s ease-in-out ;

}

.nav-link:hover{
    background-color: var(--first-typing-color);
    color: var(--first-color);
}

.active-lg{
    color: var(--first-color);
    background-color: var(--first-color);
    color: var(--first-typing-color);
}
.active-s{
    color: var(--first-color);
    text-shadow: 1px 1px 5px black;
}

.nav-transparent{
    background-color: transparent !important;
}

.nav-colored{
    padding: 0; 
    position: fixed;
    background: linear-gradient( rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.75) 100% ), url(../images/b-pattern.png);

}

.fa-bars{
    margin-left: -10%;
    font-size: 40px;
    color: var(--first-color);
    cursor: pointer;
    display: none !important;
}

/*=================================================================
                            HERO
=================================================================*/

.hero{
    padding: 60px 0;
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0.8)), url(../images/train.jpg),center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.hero-container{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 5%;
}

.hero-heading{
    margin-top: 100px;

}

.hero-container .welcome{
    color: var(--first-typing-color);
    font-size: 25px;
    text-transform: uppercase;
    text-shadow: 1px 1px 5px black;

    
}

.hero-container h2{
    word-wrap: none;
    padding: 20px 0;
    font-size: 50px;
    color: var(--first-typing-color);
    font-weight: bold;
    margin: 0 !important;
    text-shadow: 1px 1px 5px black;

}

.hero-container span{
    font-size: 50px;
    color: var(--first-typing-color);
    font-weight: 300;
    margin: 0 !important;
}

.hero-container p{
    padding: 25px 0;
    color: var(--first-typing-color);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
    text-shadow: 1px 1px 5px black;

}

.line{
    width: 30%;
    height: 3px;
    margin: 20px 0;
    background-color:var(--first-color) ;
}

.btn{
    font-size: 18px;
    font-weight: 300;
    color: var(--first-typing-color);
    display: inline-block;
    padding: 20px 40px;
    background-color: var(--first-color);
    transition: .5s ease-in-out;
    text-transform: capitalize;
}

.btn-mod{
    font-size: 18px;
    font-weight: 600;
    color: var(--first-color);
    display: inline-block;
    padding: 20px 50px;
    transition: .5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.7);
    border: 4px solid var(--first-color);
    box-shadow: 1px 1px 5px black;
    text-transform: capitalize;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--second-color);
}

.booking-form{
    max-width: 100%;
    margin: 100px -10% 50px 0px;
    background-color: rgba(97, 97, 97, 0.103);
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.booking-form form label{
    color: var(--first-typing-color);
    font-weight: 300;
    width: 100%;
}

.stations, .info{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 40px;
    justify-content: start;
}

.depart, .arrival, .travelling-date, .class, .passengers{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.depart select, .arrival select, .class select, .passengers select{
    margin: 12px 0;
    padding: 7px;
    color: var(--second-typing-color);
    outline: none;
}

.date input{
    margin: 12px 0;
    padding: 7px;
    color: var(--second-typing-color);
    outline: none;
}

form input[type=Submit]{
    margin: 50px 0 0px 0;
    font-size: 18px;
    font-weight: 300;
    color: var(--first-typing-color);
    display: inline-block;
    padding: 20px 40px;
    background-color: var(--first-color);
    border: none;
    transition: .5s ease-in-out;
    cursor: pointer;
    text-transform: capitalize;
}

form input[type=submit]:hover{
    background-color: var(--second-color);
}


.test{
    width: 500px;
    height: 500px;
    background-color: var(--second-color);
}

/*=================================================================
                        FEATURES
=================================================================*/

.features{
    background-color: var(--first-color);
    padding: 50px 0;
    background: linear-gradient(to top,var(--second-color-transparent), var(--second-color-transparent)), url(../images/fea-back.jpg),center;
    background-size: cover;
    /* background-attachment: fixed; */

}

.features-container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3,1fr);
}

.feature{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.feature:not(:last-of-type){
    border-right: 1px solid var(--first-typing-color);
}

.feature-img{
    width: 50%;
}

.feature-img i{
    display: flex;
    justify-content: center;
}


.feature-img i:before{
    font-size: 60px;
    color: var(--first-typing-color);
}

.feature-info{
    color: var(--first-typing-color);
}

.feature-info span{
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
}

.feature-info p{
    padding: 10px 0;
    font-size: 14px;
}

/*=================================================================
                        SERVICES
=================================================================*/

.services{
    background: linear-gradient(to bottom, rgba(225, 225, 225, 0.8), rgba(45, 45, 45, 0.8)), url(../images/back-w.svg), center no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 80px 0;
}

.services-container{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
}

.services-heading{
    color: var(--second-typing-color);
    padding-bottom: 50px;
}

.services-heading span{
    font-size: 16px;
    font-weight: 400;
}

.services-heading h2{
    font-size: 32px;
    font-weight: 400;
    padding: 20px 0;
}

.services-heading img{
    pointer-events: none;
    padding-top: 30px;
}

.services-content{
    grid-gap: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2 / 4;


}

.service-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.35);
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    padding:  0 15px;
}

.service-ico{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third-typing-color);
    padding: 0 10px;
    height: 100%;

}

.service-ico i{
    font-size: 40px;
}

.service-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px;


}

.service-info span{
    color: var(--third-typing-color);
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.service-info p{
    font-size: 14px;
    color: var(--second-typing-color);
    line-height: 1.7;
}


/*=================================================================
                        DESTINATIONS
=================================================================*/

.destinations{
    background: linear-gradient(to bottom, var(--third-color-transparent), var(--third-color-transparent)), url(../images/back-b.svg), center no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    padding: 80px 0;
}

.destinations-heading{
    padding-bottom: 50px;
}

.destinations-heading h2{
    font-size: 32px;
    font-weight: 400;
    color: var(--first-typing-color);
    text-transform: uppercase;
}

.destinations-content{
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.destination-item{
    background-color: var(--first-typing-color);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    border-bottom: rgba(51, 51, 51, 0.4) 1px solid;

}



.destination-item .dest-img{
    background-color: rgb(10, 117, 131);
    height: 300px;
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-1.jpg), center no-repeat;
    background-size: cover !important;
}

.destination-item:nth-of-type(2) .dest-img{
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-2.jpg), center no-repeat;
}

.destination-item:nth-of-type(3) .dest-img{
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-3.jpg), center no-repeat;
}
.destination-item:nth-of-type(4) .dest-img{
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-4.jpg), center no-repeat;
}
.destination-item:nth-of-type(5) .dest-img{
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-5.jpg), center no-repeat;
}
.destination-item:nth-of-type(6) .dest-img{
    background: linear-gradient(to top, #000000, #00000000), url(../images/destinations/dest-6.jpg), center no-repeat;
}


.overlay{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100%;
    z-index: 1;
    display: none !important;
}

.destination-item:hover .overlay{
    display: grid !important;
}

.dest-info, .dest-stats{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.4) 1px solid;
}

.depart-dest span, .arrive-dest span{
    font-size: 22px;
    color: var(--third-typing-color);
    font-weight: 700;
    text-transform: capitalize;
}

.depart-dest{
    width: 50%;
    border-right: rgba(51, 51, 51, 0.4) 1px solid;
}

.depart-dest p, .arrive-dest p{
    font-size: 14px;
    color: var(--second-typing-color);
    text-transform: capitalize;
    padding: 7px 0;
}

.travel-day, .travel-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--second-typing-color);
    text-transform: capitalize;
}

.travel-price span{
    font-size: 32px;
    color: var(--third-typing-color);
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


/*=================================================================
                        MEDIA QUERIES
=================================================================*/

@media(max-width:1024px){
    
    .nav-list{
        display: none;
    }

    .nav-colored{
        padding: 10px 0; 
    }

    .hero-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5%;
    }

    .hero-heading{
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .hero-heading h2{
        font-size: 50px;
        text-align: center;
    }

    .hero-heading span{
        font-size: 50px;
    }

    
.hero-heading{
    margin-top: 75px;

}

    .stations, .info{
        grid-template-columns: repeat(1,1fr);
    }

    .btn{
        margin-bottom: 0;
    }
    
    .booking-form{
        margin-top: 20px;
    }

    .logo-with-name{
        display: none !important;
    }

    .small-logo{
        display: block !important;
    }

    .fa-bars{
        display: block !important;
    }

    .features-container{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 5%;
    }


    .feature{
        padding: 20px 0;
        flex-direction: column;
        text-align: center;
    }

    .feature-img{
        padding: 15px 0;
    }

    .feature:not(:last-of-type){
        border-right: none !important;
    }
    .feature:not(:last-of-type){
        border-bottom: 1px solid var(--first-typing-color);
    }

    .services-container{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(1,1fr);
    }

    .services-content{
        grid-column: 1/2;
        grid-template-columns: repeat(1, 1fr);

    }

    .services-heading{
        text-align: center;
    }

    .service-item{
        text-align: center;
        flex-direction: column;
        padding: 30px 0;
    }

    .destinations-heading{
        text-align: center;
    }


    .destinations-content{
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }


    
}

@media(min-width:1024px){
.menu{
    display: none !important;
}
}

@media(max-width:768px){

}


/*=================================================================
                        ANIMATIONS
=================================================================*/


@keyframes fadeup{
    from{
        transform: translateY(4rem);
    }

    to{
        opacity: 1;
        transform: translatey(0rem);
    }
}

@keyframes scale{
    from{
        transform: scale(2);
    }

    to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes grow{
    from{
        width:0;
    }

    to{
        opacity: 1;
        width: 100%;
    }
}

@keyframes fadedown{
    from{
        transform: translateY(-10rem);
    }

    to{
        opacity: 1;
        transform: translatey(0rem);
    }
}