:root{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #004A6B ;
    --fourth-typing-color: #333 ;


    --first-color: #00678D ;
    --second-color: #00587C ;
    --third-color: #004A6B;
    --first-color-transparent: #00678D70;
    --second-color-transparent: #00587Cd0 ;
    --third-color-transparent: #004A6Be0 ;
    --fourth-color-transparent: #00496b30 ;
}

.theme01-mod{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #004A6B ;

    --first-color: #00678D ;
    --second-color: #00587C ;
    --third-color: #004A6B;
    --first-color-transparent: #00678D70;
    --second-color-transparent: #00587Cd0 ;
    --third-color-transparent: #004A6Be0 ;
    --fourth-color-transparent: #004A6B30 ;
}

.theme02-mod{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #830209 ;

    --first-color: #830209 ;
    --second-color: #95020B ;
    --third-color: #830209;
    --first-color-transparent: #83020970;
    --second-color-transparent: #95020Bd0 ;
    --third-color-transparent: #830209e0 ;
    --fourth-color-transparent: #83020930 ;
}

.theme03-mod{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #272F19 ;

    --first-color: #41492F ;
    --second-color: #313922 ;
    --third-color: #272F19;
    --first-color-transparent: #41492F70;
    --second-color-transparent: #313922d0 ;
    --third-color-transparent: #272F19e0 ;
    --fouth-color-transparent: #272F1930 ;
}

.theme04-mod{
    --first-typing-color: #FFF ;
    --second-typing-color: #111 ;
    --third-typing-color: #151821 ;

    --first-color: #323A44 ;
    --second-color: #232832 ;
    --third-color: #151821;
    --first-color-transparent: #323A4470;
    --second-color-transparent: #232832d0 ;
    --third-color-transparent: #151821e0 ;
    --fourth-color-transparent: #15182130 ;
}

body{
    height: 10000px !important;
}

.hero-container{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;

}

form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 30px;
}

.submit-btn{
    grid-column: 1/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

form input[type=Submit]{
    margin: 0px;
}

.reversition-progress-container{
    background-color:var(--fourth-typing-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.reversition-progress-step{
    color: var(--first-typing-color);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding:25px 0;

}

.reversition-progress-step::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 100%;
    right: -39.5px;
    top: 0;
    bottom: 0;
    background-color: var(--fourth-typing-color);
    clip-path: polygon(50% 0, 50% 100%, 100% 50%);
    z-index: 5;

}

.reversition-progress-step span{
    border: 2px solid var(--first-typing-color);
    padding: 8px 12.5px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
}

.validation-step::after{
    display: none;

}

.reversition-progress-step.current-step{
    background-color: var(--first-color);
}
.current-step.reversition-progress-step::after{
    background-color: var(--first-color);
}


.tickets-results-container{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto);
    grid-gap: 70px;

}

.tickets-filter{
    padding: 25px;
    height: 100%;
    background-color: var(--second-typing-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tickets-filter-heading span{
    color: var(--first-typing-color);
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}


.filter{
    padding: 25px 0;
}

input[type="checkbox"]{
    margin: 5px 10px 5px 0;
    position: relative;
    width: 30px;
    height: 15px;
    outline: none;
    background-color: #FFF;
    border-radius: 15px;
    -webkit-appearance: none;
    box-shadow: 0 0 15px inset rgba(0, 0, 0, .3);
    transition: .8s;
}

input:checked[type="checkbox"]{
    background-color: var(--first-color);
}

input[type="checkbox"]:before{
    content: "";
    width: 15px;
    height: 15px;
    background-color: var(--first-color);
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
    box-shadow: 0 0 60px rgba(0, 0, 0, .4);
    transition: .8s;
    transform: scale(1.1);
}

input:checked[type="checkbox"]::before{
    left: 15px;
    background-color: snow;
}

.check-btn{
    padding: 7.5px 0;
    color: var(--first-typing-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}



/*=================================================================
                        MEDIA QUERIES
=================================================================*/

@media (max-width: 1024px){

.booking-form{
    margin-top: 100px;
}

form, .stations, .info, .date{
    width: 100%;
    grid-gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input[type=Submit]{
    margin-top: 40px;
}

.reversition-progress-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reversition-progress-step{
    color: var(--first-typing-color);
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    text-align: center;
    padding: 40px 10%;
    text-align: left;

}

.reversition-progress-step::after{
    position: absolute;
    content: "";
    width: 20px;
    height: 100%;
    left: 0;
    clip-path: none;
    background-color: var(--fourth-typing-color);

}

.reversition-progress-step.current-step{
    background-color: var(--first-color);
}
.current-step.reversition-progress-step::after{
    background-color: var(--third-color);
}

.reversition-progress-step span{
    display: none;
}

.validation-step::after{
    display: block;

}

.tickets-results-container{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: minmax(auto);
    grid-gap: 70px;

}


}